@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"

body
    font-size: 0.8333333333333334vw
    position: relative
    line-height: normal
    font-family: 'GothamProRegular', sans-serif
    overflow: hidden
    color: #fff
    background-color: #000
    background-repeat: no-repeat
    background-position: center
    height: 100vh
    padding: 0
    -webkit-user-select: none
    -moz-user-select: none

@import "media"
// Всегда в конце
